@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:is(.dark *));

@theme {
    /* ត្រូវប្រើសញ្ញាដក (-) ទាំងអស់ សម្រាប់ឈ្មោះ Tailwind ស្គាល់វា */
    --color-primary: var(--color-primary, #3b82f6);
    --color-primary-text: var(--color-primary-text, #ffffff);
    --color-background: var(--color-background, #f3f4f6);
    --color-card-bg: var(--color-card-bg, #ffffff);
    --color-header: var(--color-header, #ffffff);
    --color-sidebar: var(--color-sidebar, #ffffff);
    --color-dropdown: var(--color-dropdown, #ffffff);
    --color-text-main: var(--color-text-main, #1f2937);
    --color-text-muted: var(--color-text-muted, #6b7280);
    --color-border-color: var(--color-border-color, #e5e7eb);
}